body {
/*  background: rgb(45, 45, 54);*/
  background: rgb(65, 40, 82);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

label {
  color: rgb(255, 255, 255);;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
